<div class="container">
    <div class="page-header">
        <h1>Oversigt</h1>
    </div>

    <div class="jumbotron">
        <h1>
            Lektion nu: Matematik
        </h1>
        <p>
            Fokus for lektionen: <b>division</b>
        </p>
    </div>
    <img src="assets/images/mathsymbol.jpeg"></img>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-block btn-default" ui-sref="followAgenda" uib-tooltip="Lav opgaverne for dagens lektion og optjen point!">
                <h3 class="card-title center-block">Følg dagsorden</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-block btn-default">
                <h3 class="card-title">Se skema</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-block btn-default">
                <h3 class="card-title">Se udvikling</h3>
            </div>
        </div>
    </div>
</div>