<head>
    <style>
        .exercise-border {
            border-bottom-style: ridge;
            margin-bottom: 20px;
        }
    </style>
</head>

<div class="col-md-offset-1 col-md-9 fa-border" ng-if="exercise.isLink == false">
    <h2>{{exercise.description}}</h2>
    <!-- If assignment, type 0 -->
<div class="jumbotron col-md-6 exercise-jumbotron">
    <div ng-repeat="assignment in exercise.assignments track by $index">
            <p ng-if="assignment.isMultipleChoice === false" class="">
                {{$index+1}}) {{assignment.description}} <input ng-model="assignment.studentAnswer" class="pull-right" />
            </p>

        <div ng-if="assignment.isMultipleChoice === true" class="">
            <label>{{assignment.description}}</label>
            <div class="col-xs-12 exercise-border">
                <label style="display: block;" name="{{assignment._id}}" ng-repeat="option in assignment.options">
                    {{$index+1}})
                    <input type="radio" ng-model="assignment.studentAnswer" name="{{assignment._id}}" ng-value="option"/> {{option}}
                </label>
            </div>
        </div>
    </div>

    <div class="input-group">
        <textarea ng-model="exercise.question" placeholder="Stil et spørgsmål" class="form-control custom-control" rows="3" style="resize:vertical"></textarea>
        <span class="input-group-addon btn btn-success">Send</span>
    </div>
</div>
</div>
