
<head>
    <style>
        *{margin:0;padding:0}
        table   {height:90%;  width:100%; }
        iframe  {float:left; height:100%; width:100%;}
        .link-exercise {height: 950px;}
    </style>
</head>

<div class="col-md-10 fa-border link-exercise" ng-if="exercise.isLink === true">
    <h2>{{exercise.description}}</h2>
    <!-- If assignment, type 0 -->
    <table>
        <tr>
            <td class="content">
                <iframe ng-src="{{linkExercise.trustSrc(exercise.link)}}" onload=""></iframe>
            </td>
        </tr>
    </table>
    <div class="input-group">
        <textarea ng-model="exercise.question" placeholder="Stil et spørgsmål" class="form-control custom-control" rows="3" style="resize:vertical"></textarea>
        <span class="input-group-addon btn btn-success">Send</span>
    </div>
</div>
