<div class="container">
    <h1 class="page-header">
        Dagens matematik opgaver
    </h1>

    <div class="row">
        <div class="list-group">
            <!-- First -->
            <a ui-sref="followAgenda({idx: 0})" class="list-group-item active" ng-repeat="ex in visOpgaver.exercises" ng-if="$first">
                <h4 class="list-group-item-heading">{{ex.name}}</h4>
                <p class="list-group-item-text">{{ex.points}} point</p>
            </a>
            <!-- Other exercises -->
            <span class="list-group-item" ng-repeat="ex in visOpgaver.exercises" ng-if="!$first">
                <h4 class="list-group-item-heading">{{ex.name}}</h4>
                <p class="list-group-item-text">{{ex.points}} point</p>
            </span>
        </div>
        <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary center-block" ui-sref="followAgenda({idx: 0})">
            Start undervisning
        </button>
    </div>
</div>