<div class="container">
    <h1 class="page-header">
        Dagens matematik opgaver
    </h1>

    <div class="row">
        <div class="list-group">
            <!-- First -->
            <a href="#" class="list-group-item {{reviewLecture.getStyle($index)}}" ng-repeat="ex in reviewLecture.exercises track by $index" uib-tooltip="Klik for at se svar.">
                <h4 class="list-group-item-heading">{{ex.name}}</h4>
                <p class="list-group-item-text">{{ex.points}} point</p>
            </a>
        </div>
    </div>

    <p>
        <b>Optjente point for lektionen: {{reviewLecture.points}} point</b>
    </p>
    <br>

    <div class="row">
        <div class="col-md-12">
            <input type="range" ng-model="reviewLecture.reviewScore" max="10" min="1" >
            {{reviewLecture.reviewScore}}
        </div>
    </div>
    <hr>
    <button class="btn btn-lg btn-primary center-block" ui-sref="studentOverview">
        Giv vurdering
    </button>
</div>
