<header class="hero-unit" id="banner">
  <div class="container">
    <h1>IncludeMe</h1>
    <p class="lead">Din skolehjælper.</p>
    <img src="assets/images/mplogo.png" alt="Master Planner logo">
  </div>
  <br>
  <div class="container">
    <div class="center-block">
      <button class="btn btn-primary" ui-sref="studentOverview">
        Start
      </button>
    </div>
  </div>
</header>

