<div class="container">
    <h1>
        Matematik
    </h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row">
        <!--left column-->
        <div class="col-md-2">
            <div class="list-group">
                <!-- First -->
                <a ui-sref="followAgenda" class="list-group-item {{followAgenda.getActiveClass($index)}}" ng-repeat="ex in followAgenda.exercises track by $index">
                    <h4 class="list-group-item-heading">{{ex.name}}</h4>
                    <p class="list-group-item-text">{{ex.points}}</p>
                </a>
            </div>
            <br>
            <!--Time timer-->
            <img src="assets/images/timeTimer.jpg" class="center-block">
            <br>
            <br>
            <button class="btn btn-lg btn-foursquare center-block" ui-sref="followAgenda">
                Tag en pause
            </button>
            <br>
            <button ng-if="followAgenda.currentIdx !== 0" class="btn btn-lg btn-primary center-block" ui-sref="followAgenda({idx: followAgenda.currentIdx-1})">
                Forrige opgave
            </button>
            <br>
            <button class="btn btn-lg btn-primary center-block" ui-sref="followAgenda({idx: followAgenda.currentIdx+1})" ng-if="followAgenda.currentIdx+1 < followAgenda.exercises.length">
                Næste opgave
            </button>
            <button class="btn btn-lg btn-success center-block" ui-sref="reviewLecture" ng-if="followAgenda.currentIdx+1 >= followAgenda.exercises.length">
                Afslut lektion
            </button>
        </div>
        <!-- Present current exercise -->
        <div class="wrapper">
            <!-- Exercise body -->
            <!-- Assignment exercise -->
            <assignment-exercise exercise="followAgenda.currentExercise"></assignment-exercise>
            <!-- Link exercise -->
            <link-exercise exercise="followAgenda.currentExercise"></link-exercise>
        </div>
    </div>
</div>
